.hide {
  display: none;
}

.show {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr) minmax(200px, 1fr);
  /*overflow: hidden;*/
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  height: 100vh;
}

.item {
  border-radius: 3px;
  text-align: center;
  background: linear-gradient(134deg, #003da5 0%, rgba(176, 36, 255, 0.7) 100%);
  color: white;
}

/* Liometro */
#liometer {
  grid-row: 1 / -1;
  grid-column: -2 / -1;
  background: #b024ff;
  position: relative;
}

/*
#liometer .parent {
  position: relative;
  left: 148px;
  height: 100%;
  width: 460px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

progress[value] {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
  box-shadow: 0 2px 5px #aaa inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left, #ff6db5, #ff000e);
  border-radius: 50px;
}
*/
