:root {
  --spacing: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: wait;
}

.grid {
  padding: var(--spacing);
  display: grid;
  grid-template-columns: repeat(7, 1fr) minmax(100px, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: var(--spacing);
  height: 100vh;
}

.item {
  position: relative;
  border-radius: 3px;
  text-align: center;
  background: linear-gradient(134deg, #003da5 0%, #2196F3 100%);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.item span {
  width: 20px;
  padding: 2px;
  border-radius: 0 0 0 3px;
  font-family: monospace;
  color: #ffffff;
  background-color: #fafafa52;
}

/* Liometro */
#liometer {
  border: 10px solid #eeeeee;
  grid-row: 1 / -1;
  grid-column: -2 / -1;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#liometer .parent {
  display: flex;
  align-items: flex-end;
  width: 40%;
  height: 100%;
}

#bar {
  width: 100%;
  background: linear-gradient(0deg, #9C27B0, #E91E63, #F44336);
  background-size: 100% 100%;
  transition: 0.3s cubic-bezier(0, 0, 0.75, 3.15);
  border-radius: 40px 40px 0 0;
}

/* Thermometer */
#bar::after {
  position: relative;
  content: '🌡️';
  width: 10px;
  height: 20px;
  animation: myship 1s linear infinite;
  -moz-animation: myship 1s linear infinite;
  -webkit-animation: myship 1s linear infinite;
}

.no-cursor {
  cursor: none;
}

.hidden {
  display: none;
}

/* Animation */
@keyframes myship {
  from {
    left: -5%;
  }
  50% {
    left: 5%;
  }
  to {
    left: -5%;
  }
}

@-moz-keyframes myship {
  from {
    left: -5%;
  }
  50% {
    left: 5%;
  }
  to {
    left: -5%;
  }
}

@-webkit-keyframes myship {
  from {
    left: -5%;
  }
  50% {
    left: 5%;
  }
  to {
    left: -5%;
  }
}